{% extends "base.html" %}

{% block contenido %}

<div class="mt-5">

    <h2>Editar Cita</h2>

    <div class="card shadow p-4">

        <form method="POST">
            
            <div class="mb-3">
                <label>Mascota</label>
                <input type="text" name="mascota" class="form-control" value="{{ cita[1] }}" required>
            </div>

            <div class="mb-3">
                <label>Propietario</label>
                <input type="text" name="propietario" class="form-control" value="{{ cita[2] }}" required>
            </div>

            <div class="mb-3">
                <label>Especie</label>
                <input type="text" name="especie" class="form-control" value="{{ cita[3] }}">
            </div>

            <div class="mb-3">
                <label>Fecha</label>
                <input type="date" name="fecha" class="form-control" value="{{ cita[4] }}" required>
            </div>

            <button type="submit" class="btn btn-success">
                Actualizar
            </button>

            <a href="/" class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>

</div>

{% endblock %}