{% extends "base.html" %}

{% block contenido %}

<!-- BANNER -->
<div class="mt-4">
  <div class="p-5 rounded" style="background-color:#20c997;">
    
    <div class="row">
      
      <div class="col-md-6 d-flex flex-column justify-content-center">

        <h1 style="
            font-size: 60px;
            font-weight: bold;
            text-transform: uppercase;
            color: #14532d;
        ">
            Veterinaria
        </h1>

        <h2 style="
            font-size: 35px;
            font-style: italic;
            color: #166534;
        ">
            Los Amigos
        </h2>

        <p style="
            font-size: 18px;
            color: #1f2937;
        ">
            Cuidado con corazón para tus peludos
        </p>

        <a href="/agendar" class="btn btn-light btn-lg mt-3">
            Agendar Cita
        </a>

      </div>

      <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='img/imagen1.png') }}" 
             class="img-fluid" 
             style="max-height: 250px;">
      </div>

    </div>
  </div>
</div>

<!-- CITAS -->
<div class="mt-5">
  <h2>🐾 Citas Programadas</h2>

  <div class="row">
    {% for c in citas %}
    <div class="col-md-4">
      <div class="card shadow-lg mt-3">

        <div class="card-body">
          <h5 class="card-title">🐾 {{ c[1] }}</h5>
          <p><strong>Propietario:</strong> {{ c[2] }}</p>
          <p><strong>Especie:</strong> {{ c[3] }}</p>
          <p><strong>Fecha:</strong> {{ c[4] }}</p>

          <a href="/editar/{{ c[0] }}" class="btn btn-warning btn-sm">Editar</a>
          <a href="/eliminar/{{ c[0] }}" class="btn btn-danger btn-sm">Eliminar</a>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}